@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Roboto Slab', serif;
    scroll-behavior: smooth;
    background-color: #f5f5f7;
}

/* to give space between sections*/
.top {
    margin-top: 3%;
}

/*********************************************************
          css change between dark & light mode
*********************************************************/
.day-mode {
    background-color: #f5f5f7;
}

.night-mode {
    background-color: #040441;
}

#mode-toggle-btn {
    position: fixed;
    bottom: 10px;
    right: 20px;
    padding: 5px;
    border-radius: 60%;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#mode-toggle-btn .night-mode {
    background-color: #f5f5f7;
}

#mode-toggle-btn .day-mode {
    background-color: #040441;
}

#mode-toggle-btn:hover {
    background-color: rgb(221, 221, 221);
}

/* Styles for day mode button */
.day-mode #mode-toggle-btn::before {
    content: "☾";
}

/* Styles for night mode button */
.night-mode #mode-toggle-btn::before {
    content: "☼";
}

/*********************************************************
           css for header section
*********************************************************/

.container {
    max-width: 80%;
    margin: auto;

}

.head_container {
    max-width: 90%;
    margin: auto;

}

header {
    height: 10vh;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 62px;
}

.logo img {
    width: 120px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.menubar {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #20b9fc;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(40, 37, 37);
}

header ul li {
    margin-left: 2rem;
    padding: 2px 15px;
    background-color: #20b9fc;
    outline: none;
    border: 1px solid #20b9fc;
    color: #20b9fc;
    border-radius: 50px 50px 50px 0px;
    margin-top: 10px;
    transition: 0.5s;
}

header ul li a {
    font-size: 10px;
    font-weight: 400;
    color: #5632fa;
    transition: 0.5s;
}

header ul li a:hover {
    color: lightgreen;
}


/*********************************************************
           css for hero section
*********************************************************/

.hero {
    position: relative;
    height: 60vh;
}

.home-text-box {
    float: left;
    width: auto;
    font-style: italic;
    padding-top: 30%;
    padding-right: 3%;
    padding-left: 10%;
    transition: 0.5s;
}

.gradient {
    background: -webkit-linear-gradient(rgb(149, 12, 127), rgb(2, 10, 163));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-text-box h1 {
    color: rgba(32, 33, 17, 0.885);
}

.home-text-box span {
    transition: 0.5s;
    color: rgba(22, 192, 238, 0.885);
    text-align: justify;
}

.home-text-box span:hover {
    z-index: 1;
    transform: scale(1.05s);
}

.button input {
    padding: 10px 50px;
    justify-content: center;
    border-radius: 8%;
    margin: 10px;
    border-bottom: 5px solid rgba(141, 141, 227, 0.904);
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

.button input:hover {
    z-index: 1;
    transform: scale(1.05s);
    border-bottom: 5px solid lightgreen;
}

.hero-content img {
    position: relative;
    height: 57vh;
    width: 100%;
}

.hero-content img:hover {
    filter: blur(0px);
}

.hero-content {
    display: grid;
    grid-template-columns: 2fr 1.5fr 0.5fr;
    grid-gap: 10px;
}

.heropic {
    grid-column: 1;
}

.centered {
    grid-column: 2;
}

.hero .social-icons {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.hero .social-icons a {
    margin-bottom: 10px;
}

.centered {
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);

}

/*********************************************************
           css for number counter section
*********************************************************/
.counter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4em;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

.counter h3 {
    color: #b7bbc7;
}

.counter h1 {
    font-style: italic;
}

/*********************************************************
           css for aboutme  section
*********************************************************/
.about {
    background-color: #f5f5f7;
    overflow: hidden;
    margin-top: 5%;
}

.about img {
    background-size: 70%;
    height: 90vh;
    float: right;

}

.inner-section {
    width: 55%;
    left: 20px;
    margin: 20px 0px 10px 100px;
    background-color: #b7bbc7;
    padding: 50px;
    box-shadow: 13px 12px 8px rgba(0, 0, 0, 0.3);
}

.inner-section h1 {
    position: sticky;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
}

.text {
    font-size: 15px;
    font-style: italic;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 30px;
}

.skills button {
    font-size: 22px;
    font-style: italic;
    text-align: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: 200px;
    background-color: #20b9fc;
    color: white;
    cursor: pointer;
}

.skills button:hover {
    transition: 1s;
    background-color: #ecf5f5;
    color: #00999c;
}
/*********************************************************
           css for searchbar  section
*********************************************************/

/* Style the search bar container */

.searchbar {
    background-color: #20b9fc;
    height: 30vh;
    align-content: center;

}

.searchbar div {
    display: flex;
    padding-top: 90px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border: #ecf5f5;
}


/* Style the search bar input */
.searchbar input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: -40px;
    /* Adjust for the button width */
    width: 60%;
    box-sizing: border-box;
    box-shadow: 13px 12px 8px rgba(0, 0, 0, 0.3);
}

/* Style the search button */
.searchbar button {
    padding-bottom: 20px;
    height: 1px;
    background-color: white;
    color: #20b9fc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the search logo icon */
.searchbar .fa-search {
    font-size: 20px;
}

/* to highlight the searched word*/
mark {
    background-color: yellow;
    color: black;

}
/*********************************************************
           css for portfolio  section
*********************************************************/

.portfolio {
    padding: 50px;
    height: 100%;
}


.buttons {
    width: 100%;
}

.toggle-button {
    margin-bottom: 5%;
    width: 300px;
    display: inline-flex;
    justify-content: center;
    border: none;
    background-color: #ddd;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.toggled_space {
    justify-content: center;
}

.toggled_div {
    padding: 20px;

    border-radius: 5px;
    margin: 0 10px;
}

.toggle-button:hover {
    background-color: #b7bbc7;
    color: #20b9fc;
}

.portfolio_space {
    height: 50vh;
    background-color: #f5f5f7;
}

/* Style the divs */
.toggle-div {
    display: none;
    padding: 10px;
}

/* css for the article*/

.portfolio center article {
    display: flex;
    padding: 0px 0px 60px 40px;
}


.portfolio center article p {
    color: #20b9fc;
}

.portfolio center article a p {
    color: #b7bbc7;
    cursor: pointer;
}

.portfolio center article a p:hover {
    color: #20b9fc;
}

.portfolio center article .card1 {
    width: 40%;
    padding: 0px 40px 0px 40px;
    font-size: 15px;
    font-style: italic;
}

.portfolio center article .card1 h2 {
    font-size: 20px;
    padding-bottom: 10px;
}

.portfolio center article .card1 h2 img {
    height: 190px;
    width: 70%;
}

/* Show the selected div */
.active-div {
    display: grid;
}

.hidden {
    display: none;
}

/**********************
css for 1st toggler
***************************/
#div1 {
    width: 100%;
    padding: 0px;
}

.grid-container {
    display: grid;
    gap: 10px;
    padding: 10px;
}


.grid-item {
    position: relative;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.grid-item:hover {
    z-index: 1;
    transform: scale(1.02);
}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    width: 100%;
    background-image: url(image/recipe.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.item3 {
    width: 100%;
    background-image: url(image/converter.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.item4 {
    width: 100%;
    background-image: url(image/calculator.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.item5 {
    width: 100%;
    background-color: none;
}

.item5 a p {
    color: #20b9fc;
}

.item5 a p:hover {
    color: #888;
}

.item2 {
    grid-column: 3;
    grid-row: 1 / span 2;
    width: 100%;
    height: 70vh;
    background-image: url(image/salaryApp.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.parent {
    position: relative;
}

.parent .description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b7bbc7;
    color: #031d27;
    font-size: 23px;
    margin: auto;
    font-style: italic;
    opacity: 0;
    /* to hide by default */
    transition: opacity 0.5s ease;
}

.parent .description h4 {
    color: khaki;
}

.parent .buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #b7bbc7;
    opacity: 0;
    /* to hide by default */
    transition: opacity 0.5s ease;
}

.parent:hover .description {
    opacity: 1;
    /* show description on hover */
}

.parent:hover .buttons {
    opacity: 1;
    /* show buttons on hover */
}

.Demo,
.github {
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    padding: 10px 50px;
    justify-content: center;
    border-radius: 8%;
    margin: 10px;
    border-bottom: 5px solid rgba(141, 141, 227, 0.904);
    overflow: hidden;
    transition: 0.5s;
}

.Demo:hover,
.github:hover {
    background-color: white;
    color: #20b9fc;
    z-index: 1;
    transform: scale(1.05s);
    border-bottom: 5px solid lightgreen;
}


/* CSS for card container */
.card {
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}

/* CSS for video modal */
#videoModal {
    display: none;
    position: fixed;
    bottom: 5vh;
    /* 5% top margin */
    left: 10vw;
    /* 5% left margin */
    width: 50vw;
    /* 90% of viewport width */
    height: 50vh;
    /* 90% of viewport height */
    background-color: #000;
}

#videoModal video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#openButton {
    color: black;
    padding: 5px;
    border: none;
    cursor: pointer;
    padding: 10px 48px;
    justify-content: center;
    border-radius: 8%;
    margin: 10px;
    border-bottom: 5px solid rgba(141, 141, 227, 0.904);
    overflow: hidden;
    transition: 0.5s;
}

#openButton::before {
    content: "\f04b";
    /* FontAwesome play icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

#openButton:hover {
    background-color: white;
    color: #20b9fc;
    z-index: 1;
    transform: scale(1.05s);
    border-bottom: 5px solid lightgreen;
}

#closeButton {
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

/* ***************************
css for the 2nd toggle
*********************************/

.div2-item {
    position: relative;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    font-size: 20px;
    font-style: italic;
    cursor: pointer;
}

.div2-item h5 {
    color: #20b9fc;
}

.grid-container .card1 {
    grid-column: 1;
    grid-row: 1;
}

.grid-container .card2 {
    grid-column: 2;
    grid-row: 1 / span 2;
}

.grid-container .card3 {
    grid-column: 3;
    grid-row: 1;
}

.grid-container .card4 {
    grid-column: 1;
    grid-row: 3;
}

.grid-container .card5 {
    grid-column: 2;
    grid-row: 3 / span 4;
    box-shadow: none;
    height: 80%;
}

.grid-container .card6 {
    grid-column: 3;
    grid-row: 3;
}

.div2-item .tooltip {
    position: relative;
    margin-top: 10px;
    display: flex;
    width: 250px;
    height: 40PX;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    border: #20b9fc solid 1px;
    justify-content: space-evenly;
    background-color: #040441;
    transition: 0.5s;
    color: rgba(244, 249, 138, 0.885);
}

.div2-item .tooltip:hover {
    z-index: 1;
    transform: scale(1.05);
    background: #b7bbc7;
    color: #20b9fc;
}

.div2-item .tooltip h6 {
    float: left;

}

.div2-item .tooltip img {
    float: right;
    border-radius: 50%;
    margin-top: -7px;
}

/*css for tooltiptext*/
.tooltip .tooltiptext {
    position: absolute;
    visibility: hidden;
    width: 100%;
    background-color: rgb(137, 65, 189);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 6px;
    position: absolute;

}

.progress-bar-container {
    background-color: #ddd;
    background: rgb(242, 235, 235);
    width: 80%;
    height: 3px;
    align-content: center;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.progress-bar {
    background-color: #20b9fc;
    height: 100%;
    border-radius: 10px;
}

.tooltipbottom {
    top: 100%;
    left: 70%;
    margin-left: -50%px;
}

.tooltiptop {
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltipright {
    top: -5px;
    left: 105%;
}

.tooltipleft {
    top: -5px;
    right: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*****************************
css for the 3rd toggle
*********************************/


.morphism {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
}

.projects {
    padding-top: 10%;
    padding: 10px 0;
}

.max-width {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0;
}
.mySlides .box {
    position: relative;
    width: 30%;
    height: 400px;
    background: #060c21;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.day-mode .mySlides .box {
    background-color: #a6a6cc3b;
}

.night-mode .mySlides .box {
    background: #060c21;
}

.morphism .box::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    transform: skewx(2deg) skewY(2deg);
    z-index: -1;
}

.morphism .box:nth-child(1)::before {
    background: linear-gradient(290deg, #ff0057, #e64a19);
}


.box .content {
    position: relative;
    padding: 20px;
}

.box .content h2 {
    position: absolute;
    top: -60px;
    right: 5%;
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: rgba(255, 255, 255, 0.5);
}

.box:hover .content h2 {
    top: -120px;
}

.box .content h3 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.box .content p {
    margin: 0;
    padding: 0;
    color: #20b9fc;
    font-size: 13px;
}

.box .content p strong {
    color: #ff6600;
}

.box .content a {
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    transform: translate(-40px);
    transition: 0.5;
    opacity: 0;
    visibility: hidden;

}

.box:hover .content a {
    transform: translatey(0);
    opacity: 1;
    visibility: visible;
}

.box .content a:hover {
    color: #20b9fc;
    background: #040441;
}


/* css for the slider buttons*/
.w3-content {
    position: relative;
    max-width: 90%;
    margin: auto;
}

.w3-button {
    background-color: #01012e;
    color: #20b9fc;
    padding: 8px 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.day-mode .w3-button {
    background-color: #f5f5f7;
}

.night-mode .w3-button {
    background-color: #01012e;
}

.w3-button:hover {
    color: #888;
}

.w3-display-left {
    position: absolute;
    left: -87px;
    top: 50%;
    margin-top: -22px;
}

.w3-display-right {
    position: absolute;
    right: -87px;
    top: 50%;
    margin-top: -22px;
}


#popup2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    z-index: 999;
    display: none;
}

#popup2 button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 40%;
    transition: all 0.2s ease-out;
}
/*********************************************************
           css for  modal
*********************************************************/

/* Center the Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background: rgba(79, 79, 133, 0.904);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 70%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

/* The Close Button */
.close {
    color: #f5f5f7;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/*********************************************************
           css for  contact  section
*********************************************************/
.contact-form-container {
    display: flex;
    padding: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

}

.contact-details {
    flex: 1;
    display: flex;
    height: 490px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #20b9fc;
    animation: fadeInLeft 1s ease-out;
    box-shadow: 13px 12px 8px rgba(0, 0, 0, 0.3);
}

.send-message {
    flex: 3;
    display: flex;
    height: 55%;
    margin-top: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #b7bbc7;
    animation: fadeInRight 1s ease-out;
    box-shadow: 13px 12px 8px rgba(0, 0, 0, 0.3);
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    z-index: 999;
    display: none;
}

#popup button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 40%;
    transition: all 0.2s ease-out;
}

.contact-details center a img {
    border-radius: 50%;
}

.contact-details p i {
    margin-right: 10px;
}

.social-icons {
    margin-top: auto;
}

.social-icons a {
    display: inline-block;
    margin-right: 20px;
    color: rgb(16, 202, 239);
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.social-icons a:hover {
    color: #fff;
    transform: scale(1.2);
}


.contact_form h2 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 20px;
}

.contact_form p {
    margin: 0;
    margin-bottom: 10px;
}

ul.social-media-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.social-media-links li {
    margin-right: 10px;
}

ul.social-media-links li:last-child {
    margin-right: 0;
}

ul.social-media-links li a {
    color: rgb(95, 13, 238);
    text-decoration: none;
    transition: all 0.2s ease-out;
}

ul.social-media-links li a:hover {
    color: #ff6600;
}

.contact_form label {
    display: block;
    margin-bottom: 5px;
}

.contact_form input,
textarea {
    display: block;
    width: 50vw;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 13px 12px 8px rgba(0, 0, 0, 0.3);
}

.contact_form button[type="submit"] {

    padding: 10px 50px;
    justify-content: center;
    border-radius: 8%;
    margin: 10px;
    border-bottom: 5px solid rgba(141, 141, 227, 0.904);
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

.contact_form button[type="submit"]:hover {
    z-index: 1;
    transform: scale(1.05s);
    border-bottom: 5px solid lightgreen;
}

/*********************************************************
           css for Rating  section
*********************************************************/

.rating {
    background: #ecf5f5;
    max-width: 90;
    margin: 0 auto;
    padding: 5px 10px 10px 10px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #20b9fc;
    border-radius: 1em;
}

.night-mode .rating {
    background-color: #040441;
}

.big-star {
    color: #ebe11e;
    font-size: 6em;
    position: relative;
    padding: 0 0 2em 0;
}

.big-star i {
    transition: 0.3s;
}

.big-star i,
.selected-rating {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selected-rating {
    color: #20b9fc;
    margin: 0;
    font-size: 2em;
}

.stars {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 5px;
}

.star {
    cursor: pointer;
    padding: 0 10px;
    font-size: 24px;
    transition: color 0.2s, transform 0.2s;
}

.selected,
.star:hover {
    color: #e65c00;
    transform: scale(1.1);
}

.feedback-mes {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s;
}

.feedback-mes p {
    color: black;
    font-style: italic;
    margin: 5px;
}

.night-mode .feedback-mes p {
    color: #dec90c;
}

.rating button {
    display: block;
    background: #f7ba12;
    padding: 0.8em;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.rating button:hover {
    background: #dec90c;
    color: greenyellow;
}

/*********************************************************
           css for footer  section
*********************************************************/

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 999;
}

.footer-content {
    display: block;
    max-width: 90%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer-content p {
    margin: 0 20px;
    font-size: 14px;
    line-height: 25px;
    animation: move 10s ease-in-out infinite;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0);
    }
}
/*********************************************************
           css for go-up button  section
*********************************************************/

#scroll-to-top-btn {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #20b9fc;
    cursor: pointer;
    padding: 10px;
    border-radius: 80%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#scroll-to-top-btn:hover {
    background-color: #b7bbc7;
}
/************************************************************************************************/


/*********************************************************
           CSS FOR SMALL SCREEN
*********************************************************/
@media only screen and (max-width: 768px) {
    body {
        background-image: url(image/bg1.jpg);
        background-repeat: no-repeat;
        background-size: 420px 755px;
    }

    .app-container {
        width: 100%;
    }

    /*
           css for header section
*********************************************************/

    header ul {
        display: list-item;
        position: fixed;
        left: -100%;
        padding: 10px;
        top: 5rem;
        flex-direction: column;
        background-color: rgba(207, 219, 218, 0.505);
        width: 50%;
        border-radius: 10px;
        text-align: center;
        transition: 0.5s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 20;
    }

    header ul.active {
        left: 0%;
    }

    header ul li {
        margin: 1.5rem 0;
    }

    header ul li a {
        color: black;
    }

    .logo img {
        margin-left: -40px;
    }

    .menubar {
        display: block;
        cursor: pointer;
    }

    .menubar.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menubar.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menubar.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    /*
           css for hero section
*********************************************************/

    .hero-content {
        display: block;
        width: 100%;
        height: 100%;
    }

    .hero .social-icons {
        display: inline-block;
        margin: 10%;
        font-size: medium;
        margin-top: -30px;
        margin-bottom: 20px;
        align-items: center;
    }

    .home-text-box h1 {
        color: rgba(242, 3, 255, 0.885);
    }

    .gradient {
        background: -webkit-linear-gradient(rgb(149, 12, 127), rgb(192, 48, 240));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .hero {
        padding: 10px;
        height: 74vh;
        width: 100%;
    }

    .home-text-box {
        justify-content: center;
        left: -20px;
    }

    .home-text-box span {
        font-weight: bold;
    }

    .centered {
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }

    .hero-content img {
        visibility: hidden;
    }

    /**
           css for number counter section
*********************************************************/
    .counter {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4em;
        width: 100%;
        text-align: center;
        font-size: 5px;
        font-weight: bold;
        color: #333;
    }

    /*
           css for aboutme  section
*********************************************************/

    .about {
        padding: 10px;
    }

    .about img {
        display: none;
    }

    .inner-section {
        margin-left: -28px;
        min-width: 455px;
        max-width: 100%;
        padding-left: -10px;
        padding-right: -10px;
        background: rgba(199, 192, 192, 0.1);
        overflow: hidden;
        box-shadow: none;
    }

    .inner-section h1 {
        text-align: center;
        color: #888;
    }

    .skills button {
        align-self: center;
        margin-left: 70px;
    }

    /**
           css for searchbar  section
*********************************************************/
    .searchbar {
        display: none;
        background-color: #f5f5f5;
        height: 20vh;
        align-content: center;

    }

    .searchbar div {
        display: flex;
        align-items: center;
        justify-content: center;
        border: #ecf5f5;
    }

    .searchbar input[type="text"] {
        padding: 10px;
        border-radius: 5px;
        border: none;
        margin-right: -40px;
        /* Adjust for the button width */
        width: 80%;
        box-sizing: border-box;
        box-shadow: 13px 12px 8px rgba(0, 0, 0, 0.3);
    }

    /**
           css for portfolio  section
*********************************************************/
    .portfolio center article .card1 {
        width: 100%;
    }

    .portfolio {
        padding: 0;
        height: 100%;
        width: 100%;
    }

    .portfolio center article {
        display: block;
        padding: 5px;
    }

    .portfolio center article .card {
        width: 100%;
        padding: 5px;
        font-size: 5px;
        font-style: italic;
    }

    .portfolio center article .card h2 img {
        height: 100px;
        width: 100%;
    }

    .toggle-button {
        padding: 5px;
        width: 25%;
        font-size: 7px;
    }

    .toggled_space {
        margin: 0;
        padding: 0;
    }

    /*css for 1st toggler
***************************/
    .grid-container {
        display: block;
        margin-bottom: 10px;
        height: 100%;
    }

    .grid-container .grid-item {
        min-height: 20vh;
        max-width: 95%;
        margin-bottom: 20px;
        border-radius: 8px;
    }

    /*css for the 2nd toggle
*********************************/
    .grid-container {
        display: block;
        margin-bottom: 10px;
        height: 100%;
    }

    .grid-container .card5 {
        display: none;
    }

    /*css for the 3rd toggle
*********************************/
    .morphism {
        display: list-item;
        gap: 1em;

    }

    .mySlides .box {
        width: 300px;
        height: 100%;
        padding: auto;
        margin: 0;
    }

    .w3-content .w3-display-container {
        display: list-item;
        max-width: 90%;
        margin: auto;
    }

    /*
           css for  contact  section
*********************************************************/
    .contact-form-container {
        display: block;
        width: 100%;
    }

    .contact-details {
        height: 50vh;
        font-size: 12px;
        margin-bottom: 0;
        box-shadow: none;
    }

    .send-message {
        height: 50vh;
        padding: 2px;
        font-size: 12px;
        margin-top: 0;
        box-shadow: none;

    }

    .send-message input {
        height: 20px;
        padding: 0;
        width: 250px;
    }

    .send-message textarea {
        width: 250px;
    }

}